<div ng-controller="PlayerControlsCtrl">
	<nav id="player-controls" class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<div ng-include="'/partials/progressBar.html'"></div>
			<div class="text-center">
				<div class="btn-group btn-group-lg player-control-buttons" role="group" aria-label="...">
					<button type="button"
					class="btn btn-default glyphicon glyphicon-fast-backward navbar-btn"
					ng-click="stepback()">
					</button>
					<button type="button"
					class="btn btn-default glyphicon glyphicon-step-backward navbar-btn"
					ng-click="fastback()">
					</button>
					<button type="button"
					class="btn btn-default glyphicon glyphicon-backward navbar-btn"
					ng-click="back()">
					</button>
					<button id="play-pause" type="button"
					class="btn btn-default glyphicon glyphicon-play navbar-btn"
					ng-click="playPause()">
					</button>
					<button type="button"
					class="btn btn-default glyphicon glyphicon-stop navbar-btn"
					ng-click="stop()">
					</button>
					<button type="button"
					class="btn btn-default glyphicon glyphicon-forward navbar-btn"
					ng-click="forward()">
					</button>
					<button type="button"
					class="btn btn-default glyphicon glyphicon-step-forward navbar-btn"
					ng-click="fastforward()">
					</button>
					<button type="button"
					class="btn btn-default glyphicon glyphicon-fast-forward navbar-btn"
					ng-click="stepforward()">
					</button>
				</div>
			</div>
		</div>
	</nav>
</div>