<!DOCTYPE html>
<html ng-app="nodeCast">
 
<head>
  <title>ChromeCast node app</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
 
  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/factories/filesFactory.js"></script>
  <script type="text/javascript" src="/js/factories/videoCastFactory.js"></script>
  <script type="text/javascript" src="/js/factories/layoutFactory.js"></script>
  <script type="text/javascript" src="/js/controllers/fileListCtrl.js"></script>
  <script type="text/javascript" src="/js/directives/enterKeyPress.js"></script>
</head>
 
<body>
  <div class="container">
    <ng-view></ng-view>
  </div>
 
  <!-- Live reload script -->
  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</body>
 
</html>